<footer style="font-weight: 600">
    <!-- //Independence title  -->
    <div style="
         width: 1150px;
         padding:0px 20px;
         font-size: 18px;
         position: absolute;
         bottom: 10px;
        ">
         <p style="text-align: center;">support@americanpg.com | 901 Corporate Center Dr. Pomona, CA 91768 | 1-888-519-1367</p>
    </div>
</footer>